body {
    background-color: #aaaaaa;
	width: 800px;
	margin: auto;
	font-size: 15px;
	font-style: italic;
}
.container {
	background-color: #00d8cb;
	width: 90%;
    margin: 10px;
	padding: 5px;
}
.container .header {
    background-color: #3300ff;
	height: 150px;
	margin: 10px;
	font-style: normal;
}
h1{
	position: absolute;
	top: 5%;
	margin: 10px;
	color: #ff0000;
	font-size: 42px;
	font-family: Calibri;
}	
.container .inner-container {
   	background-color: #ffffa0;
	width: 90%;
	/*height: 410px;*/
	margin: auto;
	padding: 5px;
   
}
.container .inner-container .aside {
    float: left;
	background: repeating-linear-gradient(45deg,transparent,transparent 10px,
	#ccc 10px,#ccc 20px),linear-gradient(to bottom,#eee,#999);
	width: 20%;
	height: 310px;
	text-align: center;
}

a {
	display: block;
	font-family: Calibri;
	text-decoration: none;
	font-style: normal;
	/*font-weight: bold;*/
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
	padding: 5px;
	}
a:hover {
	background: #f7f4f4;
	}
	
.container .inner-container .timer {
  width: 200px;
  margin: 20px auto;
  background-color: yellowgreen;
  color: white;
  border-radius: 125px;
  font-size: 35px;
  padding: 2.3em 1ex;
  text-align: center;
  font-style: normal;
}
.container .footer {
    background-color: #a9e198;
	width: 98%;
	height: 110px;
	margin: 10px;
}
